priority 10

extends python, markdown

snippet inp "python input block" b
\`\`\`{.python .input${1/.+/  n=/}${1:0}}
${VISUAL}${0}
\`\`\`
endsnippet

snippet out "output block" b
\`\`\`{.json .output${1/.+/  n=/}${1:0}}
${VISUAL}${0}
\`\`\`
endsnippet
