extends json

priority 20

snippet /babel(7)?/ "simple babelrc" r
{"presets": ["`!p if match.group(1):
	snip.rv = "@babel/"`env"}]}
endsnippet

snippet fold "vim fold" b
// ${1:description} {{{
${VISUAL}${0}
// }}}
endsnippet
