priority 10

# TODO port html.snippets

# Mixins {{{
snippet mix "mixin"
mixin ${1:name}(${2:args})
	${VISUAL}${0}
endsnippet

snippet ie "if-ie mixin" b
mixin if-ie(condition='IE')
	!= \`<!--[if ${condition}]>\`
	block
	!= '<![endif]-->"'
endsnippet
# }}}

# Misc {{{
snippet html "HTML skeleton" b
doctype html
html
	head
		title ${1:title}
	body
		${0}
endsnippet

snippet fold "vim fold" b
//- ${1:description} {{{
${VISUAL}${0}
//- }}}
endsnippet
# }}}
