root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.vim]
quote_type = single
max_line_length = 120

[*.lua]
quote_type = single
max_line_length = 120
space_around_table_field_list = false
space_before_closure_open_parenthesis = false
space_around_concat_operator = false

[*.scm]
indent_size = 2

[README.rst]
indent_size = 3
